$backgHeader: lime;
$backgNav: red;
$backgAside: #333;
$backgSection: green;
$backgFooter: yellow;

*{padding: 0; margin: 0;}
.wrapper{width: 900px; margin: 0 auto;}
.clearFix:after{
	content: "";
	display: table;
	clear: both;
}

header{height: 70px; background-color: $backgHeader;}
nav{height: 100px; background-color: $backgNav;}
.main{
	height: 500px;

	aside{
		height: inherit; width: 300px; float: left; background-color: $backgAside;
	
		&:hover{background: lime; text-decoration: none;}
	}
	section{height: inherit; overflow: hidden; background-color: $backgSection;}
}

/* @extend */
footer{
	@extend nav;
	/* in css file -> nav, footer {..... */
}