$backgHeader: lime;
$backgNav: red;
$backgAside: #333;
$backgSection: green;
$backgFooter: yellow;

*{padding: 0; margin: 0;}
.wrapper{width: 900px; margin: 0 auto;}
.clearFix:after{
	content: "";
	display: table;
	clear: both;
}

@mixin navFunction($h, $c){
	height: $h; background-color: $c;
	
	/* if, if else */
	@if $c == lime{
		border-radius: $h;
		border: 2px solid black;
	}
	@else{
		border-radius: 40%;
		border: 3px solid yellow;
	}	
}

header{height: 70px; background-color: $backgHeader;}
nav{
	@include navFunction(100px, $backgHeader);
}
.main{
	height: 500px;
	
	aside{
		height: inherit; width: 300px; float: left; background-color: $backgAside;
	
		&:hover{background: lime;}
	}
	section{height: inherit; overflow: hidden; background-color: $backgSection;}
}
footer{height: 100px; background-color: $backgFooter;}