div>div:nth-child(1)
{
	background-color:lime; outline: 1px solid black; padding: 10px; margin: 10px;


}

div>div:nth-child(2){
	background-color:yellow; outline: 1px solid black; padding: 10px; margin: 10px;
	
	
}

div>div:nth-child(3){
	background-color:green; outline: 1px solid black; padding: 10px; margin: 10px;
	
	
}

div>div:nth-child(4){
	background-color:red; outline: 1px solid black; padding: 10px; margin: 10px;
	
	
}
div>div:nth-child(5){
	background-color:grey; outline: 1px solid black; padding: 10px; margin: 10px;
	
	
}

body>div{
	outline:1px solid black; margin: 20px;

	display: flex;
	
	/* default */
	flex-direction: row;
	flex-direction: row-reverse;
	/* flex-direction: column; */
	/* flex-direction: column-reverse; */
}